html body { 
  margin-top: 10%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
  font-family: Helvetica;
  font-size: 50px;
}

html {
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background:transparent;
  color: #EBB454;
}

form{
  padding: 10%;
  /*border: solid #A7D144;*/
  border: solid #2E94D4;
  border-radius: 25px;
  text-align: left;
}

label.col-sm-2.control-label {
  text-align: left;
}

.form-control {
  width: 70%;
  margin-left: 10%;
  border: solid 2px #2E94D4;
}

button.btn.btn-default {
  margin-left: 15%;
  margin-top: 10%;
  background: transparent;
  border: solid #2E94D4;
  color: #EBB454;
  width: 50%;
  border-radius: 8px;
}
