<h1> My Profile </h1>
  <form class="form-horizontal" action="/profile/edit" method="POST">
    <div class="form-group">
      <label for="inputname" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="firtsname" class="form-control" id="firstname" placeholder="First Name">
        </div>
    </div>
      <div class="form-group">
        <label for="inputlastname" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="lastname" class="form-control" id="lastname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group" id="gender">
        <label for="gender" class="col-sm-2 control-label gender">Gender</label>
          <div class="col-sm-10">
            <select name="gender" type="gender" class="form-control" id="genderselect">
              <option value="None selected">Please select below</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
          </select>
          </div>
      </div>
      <div class="form-group">
        <label for="bday" class="col-sm-2 control-label">Birthday</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" placeholder="Last Name">
      </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit Changes</button>
        </div>
      </div>
    </form>